name: Build

on: [push, pull_request]

permissions: {}

jobs:

  build:
    name: Build and test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-latest

    steps:
    - name: Install system dependencies on Linux
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt update && sudo apt -y install libglib2.0-0 libglib2.0-dev libgtk-3-dev libsoup-3.0-dev libjavascriptcoregtk-4.1-dev libwebkit2gtk-4.1-dev libfuse2 file fuse librsvg2-dev

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        persist-credentials: false

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
      with:
        workspaces: "src-tauri -> target"

    - name: Check formatting of Rust code
      working-directory: src-tauri
      run: cargo fmt --all -- --check

    - name: Check JS, CSS, JSON using Biome
      run: npx @biomejs/biome ci

    - name: Lint Rust code
      working-directory: src-tauri
      run: cargo clippy

    - name: Install dependencies
      run: npm install

    - uses: tauri-apps/tauri-action@73fb865345c54760d875b94642314f8c0c894afa # v0

    - name: Archive executable
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      with:
        name: dqmj1_rom_editor_${{ runner.os }}
        path: src-tauri/target/release/bundle/*/*