name: Build

on: [push, pull_request]

jobs:

  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: "src-tauri -> target"

    - name: Check formatting of Rust code
      working-directory: src-tauri
      run: cargo fmt --all -- --check

    - name: Check JS, CSS, JSON using Biome
      run: npx @biomejs/biome ci

    - name: Lint Rust code
      working-directory: src-tauri
      run: cargo clippy

    - name: Install dependencies
      run: npm install

    - name: Build
      run: npm run tauri build

    - name: Archive executable
      uses: actions/upload-artifact@v4
      with:
        name: dqmj1_rom_editor_${{ runner.os }}
        path: src-tauri\target\release\bundle/*/*